{{#each this}}
  <div >
    <ul class='countrycard'>
      <li>
        <img class='country-img' src='{{flags.svg}}' alt='{{flags.alt}}' />
      </li>
      <li>
        <b>{{name.common}}</b>
      </li>
    </ul>
  </div>
  <div>
    <ul class='countryUl'>
      <li><b>Capital</b>: {{capital}}</li>
      <li><b>Population</b>: {{population}}</li>
      <li><b>Languages</b>:{{#each languages}}
          {{this}}<span class='comma'></span>
        {{/each}}</li>
    </ul></div>

{{/each}}